/* mobile device responsive is here */
@media screen and (max-width:576px) {
    .bar{
        display: block;
    }
    .nav-options{
        display: none;
    }
    .banner-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-text-content{
        max-width: 100%;
    }
    .banner-img-content{
        max-width: 100%;
    }
}